#### Pandas 심화 내용 (조건, 그룹, Multiindex)

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.rand(10, 2), columns=['X', 'Y'])
df

          X         Y
0  0.201021  0.035647
1  0.207901  0.104214
2  0.412628  0.542823
3  0.311719  0.630880
4  0.053409  0.398983
5  0.895370  0.137700
6  0.912012  0.193467
7  0.808769  0.822393
8  0.641527  0.991653
9  0.029712  0.075678

In [5]:
df['X'] > 0.5

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9    False
Name: X, dtype: bool

In [9]:
df[(df['X'] > 0.5) & (df['Y'] < 0.5)]

          X         Y
5  0.895370  0.137700
6  0.912012  0.193467

In [10]:
df.query("X > 0.5 and Y < 0.5")

          X         Y
5  0.895370  0.137700
6  0.912012  0.193467

In [11]:
# 문자열

In [18]:
li = ["Kim", "Lee", "Park"]
li2 = ["Book", "Cook", "Game"]
df = pd.DataFrame({'Name': li, 'Good': li2})
df

   Name  Good
0   Kim  Book
1   Lee  Cook
2  Park  Game

In [21]:
df[df['Good'].str.contains("oo")]

  Name  Good
0  Kim  Book
1  Lee  Cook

In [24]:
df[df.Good.str.match('oo')]

Empty DataFrame
Columns: [Name, Good]
Index: []

In [ ]:
# ======================================================================================================================