#### Pandas 심화 내용 (조건, 그룹, Multiindex)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.rand(10, 2), columns=['X', 'Y'])
df

          X         Y
0  0.094153  0.828738
1  0.195366  0.539115
2  0.268669  0.856935
3  0.426158  0.823510
4  0.234664  0.042318
5  0.065355  0.179215
6  0.945903  0.269612
7  0.238689  0.146717
8  0.623217  0.808492
9  0.044740  0.876906

In [3]:
df['X'] > 0.5

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8     True
9    False
Name: X, dtype: bool

In [4]:
df[(df['X'] > 0.5) & (df['Y'] < 0.5)]

          X         Y
6  0.945903  0.269612

In [5]:
df.query("X > 0.5 and Y < 0.5")

          X         Y
6  0.945903  0.269612

In [6]:
# 문자열

In [7]:
li = ["Kim", "Lee", "Park"]
li2 = ["Book", "Cook", "Game"]
df = pd.DataFrame({'Name': li, 'Good': li2})
df

   Name  Good
0   Kim  Book
1   Lee  Cook
2  Park  Game

In [8]:
df[df['Good'].str.contains("oo")]

  Name  Good
0  Kim  Book
1  Lee  Cook

In [9]:
df[df.Good.str.match('oo')]

Empty DataFrame
Columns: [Name, Good]
Index: []

In [10]:
# ======================================================================================================================

In [17]:
# apply를 사용하여 함수로 데이터 변경
df = pd.DataFrame(np.arange(5) + 10, columns=['Num'])
print(df)
def squ(x):
  return x**2

   Num
0   10
1   11
2   12
3   13
4   14

In [18]:
df['Num'].apply(squ)

0    100
1    121
2    144
3    169
4    196
Name: Num, dtype: int64

In [21]:
df['Square'] = df.Num.apply(lambda x: x ** 2)
df

   Num  Square
0   10     100
1   11     121
2   12     144
3   13     169
4   14     196

In [ ]:
# ======================================================================================================================

In [21]:
# groupby 그룹으로 묶기 : 조건부로 집계하고 싶은 경우 사용

In [21]:
df = pd.DataFrame({'Key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data1': [1, 2, 3, 1, 2, 3], })